flask
flask-pymongo
werkzeug
pandas
scikit-learn
lightgbm
prophet
numpy
langchain
langchain-groq
plotly
pymupdf
nltk
pymongo
python-dateutil
gunicorn
requests
google-generativeai
langchain-google-genai
tqdm
statsmodels
holidays
convertdate
lunarcalendar
pystan
